name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: scripts/generate_icons.sh
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'
          cache: true
      - name: Cache Flutter dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
            **/.dart_tool
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-pub-
      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
          cache-dependency-path: | # optional
            android/*.gradle*
            android/**/gradle-wrapper.properties
      - name: Build
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > android/keystore
          export BUILD_NUMBER="${{ github.run_number }}"
          export GOOGLE_MAPS_CLIENT_ID="${{ secrets.GOOGLE_MAPS_CLIENT_ID }}"
          export GOOGLE_MAPS_SIGNING_SECRET="${{ secrets.GOOGLE_MAPS_SIGNING_SECRET }}"
          ./build.sh appbundle

      - name: Create artifact
        continue-on-error: true
        run: |
          mkdir -pv public
          cp -v build/app/outputs/bundle/release/app-release.aab "public/app-${{ github.run_number }}.apk"          
          echo "<html><head><meta name="viewport" content="width=device-width, initial-scale=1"></head>
          <h1>Download run number ${{ github.run_number }} from the links below:</h1>" > public/index.html
          echo "<h1><a href='app-${{ github.run_number }}.apk'>Download APK ${{ github.run_number }}</a></h1>" >> public/index.html
          echo "</head></html>" >> public/index.html
      - uses: actions/upload-pages-artifact@v3
        continue-on-error: true
        with:
          path: 'public'
      - name: Upload to Play Store
        uses: r0adkll/upload-google-play@v1
        continue-on-error: true
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_STORE_AUTH }}
          packageName: com.fleetmap.fleetmanager
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: internal
          status: draft


  deploy-web:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4


